.body {
  font-weight: 300;
}
.banner {
  display: block;
  margin-bottom: 0px;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #eeeded;
  background-image: linear-gradient(156deg, rgba(193, 239, 241, 0.88), rgba(104, 173, 176, 0.85) 25%, rgba(10, 104, 108, 0.85) 40%, rgba(0, 96, 100, 0.85) 50%, rgba(31, 118, 122, 0.85) 60%, rgba(144, 200, 203, 0.25) 75%, rgba(191, 237, 239, 0.88) 100%, #c1eff1), url('/images/foto-premio-seadprev.jpg');
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  font-weight: 300;
  text-align: center;
}
a, a:active, a:visited, a:hover{outline: none; text-decoration: none; color:#212121}
.theme--light.v-icon {color: #222 !important;}
.v-application .v-card a:hover{color: black;}
.pa-status{ padding:5px; }
.section {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0px;
}
.img-service {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  padding: 10px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 8px;
  background-color: #c1eff1;
  margin:0 auto;
}
