.link-service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  padding: 24px 18px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #dedede;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #585858;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.link-service:hover {
  background-color: #fff;
  opacity: 0.95;
  -webkit-filter: saturate(200%);
  filter: saturate(200%);
}

.img-service {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px;
  opacity: 0.8;
  -webkit-filter: none;
  filter: none;
  color: #797979;
  -o-object-fit: fill;
  object-fit: fill;
}

.title-service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
}

.cover-img-service {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  padding: 10px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 8px;
  background-color: rgba(153, 229, 241, 0.59);
}

.cover-img-service.error {
  background-color: #f1c1c1;
}

.cover-img-service.warning {
  background-color: #f2f2f2;
}

.navbar {
  position: fixed;
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #004e5d;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.49);
  color: #fff;
}

.body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 29px;
  line-height: 25px;
  font-weight: 700;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.brand.w--current {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.nav-link {
  color: #fff;
}

.nav-link.nav-button {
  margin-top: 8px;
  padding: 10px 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #c1eff1;
  border-radius: 7px;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
}

.nav-link.nav-button:hover {
  background-color: #12767a;
}

.nav-link.nav-button.w--current {
  color: #c1eff1;
  font-weight: 500;
}

.nav-link.nav-button.nav-logout {
  margin-top: 13px;
  padding: 7px 14px;
  border-style: solid;
  border-radius: 7px;
  background-color: transparent;
  font-size: 12px;
}

.section {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0px 0px;
}

.footer {
  position: relative;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f5f5;
  text-align: center;
}

.paragraph {
  margin-bottom: 0px;
  font-size: 15px;
  font-weight: 300;
}

.bold-text {
  color: #faffdd;
  font-weight: 800;
}

.image {
  width: 190px;
  margin-right: 15px;
  margin-left: 15px;
  padding-right: 0px;
  float: none;
}

.heading-2 {
  line-height: 38px;
}

.container {
  max-width: 1280px;
}

.container-2 {
  max-width: 1250px;
}

.modal-content {
  display: none;
  text-decoration: none;
}

.modal {
  position: relative;
  z-index: 99999;
  display: block;
  overflow: visible;
  width: 45%;
  height: auto;
  padding: 0px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 18px 0 #022b2d;
  opacity: 1;
}

.modal-background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(3, 30, 31, 0.8);
  opacity: 1;
}

.close-modal {
  position: absolute;
  left: auto;
  top: -2%;
  right: -2%;
  bottom: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #ff5601;
}

.modal-box {
  overflow: auto;
  width: 100%;
  height: auto;
  max-height: 500px;
  min-height: 360px;
  padding: 35px;
  border-radius: 10px;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block {
  display: block;
  margin-bottom: 0px;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #eeeded;
  background-image: linear-gradient(156deg, rgba(193, 239, 241, 0.88), rgba(104, 173, 176, 0.85) 25%, rgba(10, 104, 108, 0.85) 40%, rgba(0, 96, 100, 0.85) 50%, rgba(31, 118, 122, 0.85) 60%, rgba(144, 200, 203, 0.25) 75%, rgba(191, 237, 239, 0.88) 100%, #c1eff1), url('../images/foto-premio-seadprev.jpg');
  background-position: 0px 0px, 100% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  font-weight: 300;
  text-align: center;
}

.heading-3 {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 33px;
  line-height: 33px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 6px rgba(0, 96, 100, 0.36);
}

.flag-status {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  padding-right: 0px;
  border-radius: 20px;
  background-color: #cacaca;
}

.flag-status.success {
  background-color: #2aca72;
}

.flag-status.error {
  background-color: #ca3f2a;
}

.flag-status.warning {
  background-color: #d8d4d4;
}

.status {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.status.no-margin {
  margin-top: 0px;
}

.status-text {
  font-size: 15px;
  font-weight: 300;
}

.version {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 5px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #000;
  background-color: #fff;
}

.version-text {
  margin-top: 0px;
  font-size: 12px;
}

.paragraph-2 {
  margin-bottom: 0px;
  color: #585858;
  font-size: 17px;
  font-weight: 300;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  padding-right: 1%;
  padding-left: 1%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.subtitle {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #004e5d;
  font-size: 26px;
  line-height: 30px;
  font-weight: 500;
}

.section-2 {
  padding-top: 92px;
  background-color: #fdfdfd;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field-3 {
  position: relative;
  width: 500px;
  height: 50px;
  margin-bottom: 0px;
  padding: 15px;
  border-radius: 7px 0px 0px 7px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 300;
}

.submit-button-3 {
  height: 50px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #005e63;
  font-size: 12px;
  font-weight: 300;
}

.painel-search {
  display: block;
  margin-bottom: 0px;
}

.div-block-4 {
  text-align: center;
}

.form-block-2 {
  padding: 3rem;
  border-radius: 9px;
  box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.16);
}

.form-block-2.login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  height: 400px;
  padding-right: 2.2rem;
  padding-left: 2.2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 85vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-color: #004f5c;
}

.submit-button-4 {
  width: 100%;
  height: 52px;
  margin-bottom: 1.3rem;
  border: 1px solid #004f5c;
  border-radius: 5px;
  background-color: #004f5c;
  text-align: center;
}

.submit-button-4:hover {
  opacity: 0.9;
}

.input {
  height: 52px;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  color: #000;
  font-size: 15px;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox {
  background-color: #015d63;
}

.link {
  color: #005d63;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.link:hover {
  color: #1b7e85;
}

.link.link-right {
  font-size: 15px;
  text-align: right;
}

.link.link-right-copy {
  color: #047da2;
  font-size: 15px;
  text-align: right;
}

.checkbox-label {
  margin-bottom: 0px;
  color: #005d63;
  font-size: 15px;
  font-weight: 500;
}

.checkbox-field {
  margin-bottom: 0px;
}

.text-block {
  color: #fff;
  font-weight: 300;
}

.icon {
  color: #fff;
}

.app-header {
  display: block;
  margin-bottom: 50px;
  padding-top: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.painel-text {
  text-align: left;
}

.section-3 {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 96px;
}

.section-4 {
  width: 96%;
  margin-right: auto;
  margin-left: auto;
}

.portal-search {
  display: none;
  margin-bottom: 0px;
}

.image-2 {
  height: 28px;
  margin-right: 8px;
  padding: 6px;
  float: left;
  border-radius: 5px;
  background-color: #198e96;
}

.dropdown-toggle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
  padding-bottom: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.recentes {
  margin-bottom: 35px;
  padding: 60px 1.85% 15px;
  background-color: #f7f7f7;
  text-align: left;
}

.section-5 {
  padding-top: 96px;
  background-color: #fafafa;
}

.heading-4 {
  position: relative;
  bottom: -20px;
  margin-top: 0px;
  margin-bottom: -40px;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.dropdown-list {
  background-color: #907b7b;
}

.dropdown-list.w--open {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 3px 0 rgba(43, 43, 43, 0.49);
}

.bold-text-2 {
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: #f64242;
}

.app-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.app-version {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  padding-right: 0px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
}

.app-version-text {
  margin-top: 0px;
  margin-right: 10px;
  font-size: 15px;
}

.app-cover-img-service {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  margin-bottom: 0px;
  padding: 10px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 8px;
  background-color: #c1eff1;
}

.app-cover-img-service.error {
  background-color: #f1c1c1;
}

.app-cover-img-service.warning {
  background-color: #f5eea5;
}

.content {
  padding-right: 3%;
  padding-left: 2%;
}

.menu-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.menu {
  width: 230px;
  height: 100vh;
  margin-top: -10px;
  margin-left: -10px;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 15%;
  border-right: 1px solid #ddd;
  background-color: #fff;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #504444;
  font-size: 13px;
  text-decoration: none;
}

.text-block-2 {
  color: #333;
}

.menu-subtitle {
  margin-bottom: 15px;
  color: #777;
}

.image-3 {
  margin-right: 20px;
}

.box {
  display: block;
  width: 95%;
  margin-bottom: 25px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #dedede;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: none;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #585858;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.box:hover {
  background-color: #fff;
  opacity: 0.95;
  -webkit-filter: saturate(200%);
  filter: saturate(200%);
}

.app-breadcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 15px;
  text-decoration: none;
}

.app-breadcrumbs-link {
  color: #015d63;
  font-weight: 400;
  text-decoration: none;
}

.divider {
  margin-right: 7px;
  margin-left: 7px;
}

.painel-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  padding-top: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.form-block-3 {
  margin-bottom: 0px;
}

.icon-certificate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 62px;
  height: 52px;
  margin: 0px;
  padding: 8px 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
  background-color: #017da3;
}

.submit-button-4-copy {
  width: 100%;
  height: 52px;
  border-style: solid;
  border-width: 1px;
  border-color: #0497c4;
  border-radius: 0px 5px 5px 0px;
  background-color: #0497c4;
  text-align: center;
}

.submit-button-4-copy:hover {
  opacity: 0.9;
}

.image-4 {
  -webkit-filter: invert(100%) brightness(200%);
  filter: invert(100%) brightness(200%);
}

.text-block-3 {
  margin-bottom: 20px;
  font-size: 17px;
  text-align: center;
}

.slide-nav {
  display: none;
}

.banner {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(173, 193, 199, 0)), color-stop(50%, rgba(34, 34, 34, 0.35)), color-stop(85%, rgba(173, 193, 199, 0)));
  background-image: linear-gradient(180deg, rgba(173, 193, 199, 0) 15%, rgba(34, 34, 34, 0.35) 50%, rgba(173, 193, 199, 0) 85%);
}

.banner.banner01 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(173, 193, 199, 0.2)), color-stop(50%, rgba(34, 34, 34, 0.4)), color-stop(85%, rgba(173, 193, 199, 0.2))), url('../images/banner01.jpg');
  background-image: linear-gradient(180deg, rgba(173, 193, 199, 0.2) 15%, rgba(34, 34, 34, 0.4) 50%, rgba(173, 193, 199, 0.2) 85%), url('../images/banner01.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.banner.banner02 {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(173, 193, 199, 0.2)), color-stop(50%, rgba(34, 34, 34, 0.4)), color-stop(85%, rgba(173, 193, 199, 0.2))), url('../images/banner02.jpg');
  background-image: linear-gradient(180deg, rgba(173, 193, 199, 0.2) 15%, rgba(34, 34, 34, 0.4) 50%, rgba(173, 193, 199, 0.2) 85%), url('../images/banner02.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.slider {
  height: auto;
  background-color: transparent;
}

.image-5 {
  height: auto;
}

.slide {
  height: auto;
}

.mask {
  height: auto;
}

.div-block-9 {
  position: relative;
  background-color: transparent;
}

.banner2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/banner02.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.link-news {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #585858;
  text-decoration: none;
}

.link-news:hover {
  opacity: 0.96;
}

.news {
  margin-bottom: 50px;
}

.link-text {
  height: 40px;
  margin-top: 15px;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}

.section-copy {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 0px 60px;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 40px;
  line-height: 40px;
}

.bold-text-3 {
  font-weight: 300;
}

.container-copy {
  max-width: 90%;
}

.div-block-10 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.formulario {
  width: 45%;
  margin-bottom: 0px;
}

.div-block-11 {
  position: relative;
  right: -30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  height: 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid #d3cece;
  text-align: center;
}

.text-block-4 {
  position: relative;
  left: -36px;
  padding: 11px;
  background-color: #fff;
}

@media screen and (min-width: 1920px) {
  .link-service {
    margin-bottom: 25px;
    box-shadow: 0 0 12px 0 rgba(116, 122, 122, 0.35);
  }

  .cover-img-service.warning {
    background-color: #f5eea5;
  }

  .section {
    width: 55%;
  }

  .image {
    width: 190px;
  }

  .heading-3 {
    line-height: 33px;
  }

  .flag-status.warning {
    background-color: #dbd94e;
  }

  .subtitle {
    font-weight: 700;
  }

  .columns {
    min-height: 81vh;
  }

  .app-cover-img-service.warning {
    background-color: #f5eea5;
  }

  .box {
    margin-bottom: 25px;
    box-shadow: 0 0 12px 0 rgba(116, 122, 122, 0.35);
  }

  .banner {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgba(173, 193, 199, 0.2)), color-stop(50%, rgba(34, 34, 34, 0.4)), color-stop(85%, rgba(173, 193, 199, 0.2)));
    background-image: linear-gradient(180deg, rgba(173, 193, 199, 0.2) 15%, rgba(34, 34, 34, 0.4) 50%, rgba(173, 193, 199, 0.2) 85%);
  }

  .section-copy {
    width: 55%;
  }
}

@media screen and (max-width: 991px) {
  .link-service {
    width: 100%;
  }

  .title-service {
    height: 42px;
    font-size: 16px;
    font-weight: 700;
  }

  .navbar {
    padding-left: 14px;
  }

  .nav-link.nav-button {
    width: auto;
  }

  .section {
    width: 98%;
    padding-top: 35px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .footer {
    position: relative;
  }

  .modal {
    width: 90%;
  }

  .nav-menu {
    background-color: #014346;
  }

  .menu-button {
    background-color: transparent;
  }

  .menu-button.w--open {
    background-color: #014346;
  }

  .paragraph-2 {
    font-size: 15px;
  }

  .div-block-3 {
    margin-bottom: 35px;
  }

  .subtitle {
    margin-bottom: 0px;
    font-size: 22px;
  }

  .text-field-3 {
    width: 250px;
  }

  .form-block-2 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .form-block-2.login {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .columns {
    display: block;
    min-height: auto;
  }

  .app-header {
    margin-bottom: 35px;
    padding-top: 35px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .menu {
    display: none;
  }

  .box {
    width: 100%;
  }

  .painel-header {
    margin-bottom: 35px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .column {
    display: none;
  }

  .section-copy {
    width: 98%;
    padding-top: 35px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .column-3 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .link-service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .title-service {
    margin-top: 10px;
    margin-left: 0px;
    font-weight: 600;
  }

  .heading {
    font-size: 22px;
    line-height: 30px;
  }

  .section {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .image {
    width: 135px;
    margin-right: 0px;
  }

  .div-block {
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .heading-3 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 27px;
  }

  .subtitle {
    font-size: 22px;
    line-height: 35px;
  }

  .text-field-3 {
    width: 300px;
  }

  .form-block-2.login {
    width: 100%;
    height: 481px;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .app-header {
    padding-top: 35px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .painel-text {
    margin-bottom: 15px;
  }

  .app-text {
    margin-bottom: 15px;
  }

  .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .painel-header {
    padding-top: 35px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .column {
    display: none;
  }

  .column-2 {
    display: none;
  }

  .banner.banner01 {
    background-size: auto, cover;
  }

  .section-copy {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .heading-5 {
    font-size: 30px;
    line-height: 30px;
  }

  .formulario {
    width: 85%;
  }

  .div-block-11 {
    top: -20px;
    right: auto;
    width: 85%;
    height: auto;
    border-bottom: 1px solid #d3cece;
    border-left-style: none;
  }

  .text-block-4 {
    left: auto;
    bottom: -22px;
  }
}

@media screen and (max-width: 479px) {
  .title-service {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    text-align: center;
  }

  .cover-img-service {
    margin-bottom: 0px;
  }

  .brand.w--current {
    padding-left: 0px;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .image {
    display: block;
    width: 114px;
    margin-right: 0px;
    margin-left: 10px;
  }

  .div-block {
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .heading-3 {
    padding: 35px;
    font-size: 20px;
    line-height: 33px;
    text-align: center;
  }

  .paragraph-2 {
    font-size: 14px;
    text-align: center;
  }

  .paragraph-2.left {
    text-align: left;
  }

  .div-block-3 {
    margin-bottom: 35px;
  }

  .subtitle {
    font-size: 18px;
  }

  .text-field-3 {
    width: 200px;
  }

  .form-block-2.login {
    height: auto;
  }

  .app-header {
    margin-bottom: 35px;
  }

  .app-cover-img-service {
    margin-bottom: 0px;
  }

  .painel-header {
    margin-bottom: 35px;
  }

  .banner.banner01 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .section-copy {
    padding-right: 0px;
    padding-left: 0px;
  }

  .heading-5 {
    font-size: 23px;
    line-height: 23px;
  }
}

