.body {
  font-weight: 300;
}
a, a:active, a:visited, a:hover{outline: none; text-decoration: none; color:#212121}
.theme--light.v-icon {color: #222 !important;}
.v-application .v-card a:hover{color: black;}
.pa-status{ padding:5px; }
.section {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 0px;
}
.img-service {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  padding: 10px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 8px;
  background-color: #c1eff1;
  margin:0 auto;
}
.img-service img{width:100%}
.subtitle {
  margin-top: 0px;
  margin-bottom: 2px;
  font-size: 26px !important;
  font-weight: bold !important;
}
.logo img {
  width: 160px;
  height: auto;
  margin: 0 15px;
}
.title-s {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 37px;
  line-height: inherit;
}
.subtitle-s {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 33px;
  line-height: 33px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 6px rgb(0 96 100 / 36%);
}
.v-carousel .v-responsive__content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 265px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.v-carousel .v-image__image--cover {  background-image: linear-gradient(180deg, rgba(173, 193, 199, 0.2) 15%, rgba(34, 34, 34, 0.4) 50%, rgba(173, 193, 199, 0.2) 85%);
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;}

p {font-size: 17px; margin-bottom: 25px;}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.status-error .img-service{
  background-color: #f1c1c1;
}
.status-desconnhecido .img-service{
  background-color: #f2f2f2;
}
.status-desconhecido .pa-status.desconhecido {
  background-color: #f2f2f2;
}
.service:hover {
  background-color: #fff;
  opacity: 0.95;
  -webkit-filter: saturate(200%);
  filter: saturate(200%);
}
.noticias img:hover{opacity: 0.95;}
.clear {clear:both}
form[name=search] .v-input__slot {height: 51px; border-right: 0; width: 350px; }
.v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child {
  margin-right: 15px !important;
}
.v-application--is-ltr .v-list--dense.v-list--nav .v-list-group--no-action > .v-list-group__items > .v-list-item {
  padding-left: 47px !important;
}
.v-toolbar__title .title-s {top: 2px; position: relative;}
.service-name {box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);}
.v-list-item__content .subtitle {margin-bottom: 6px !important; font-size: 27px !important;}
.v-list-item__content .v-list-item__subtitle {font-weight: 400;}
.v-form .col, .v-form .col-6, .v-form .col-auto, .v-form .col-md-6, .v-form .col-lg-6, .v-form .col-md-12 {margin-bottom:0 !important; padding-bottom: 0 !important;}
@media screen and (min-width: 1920px) {
  .section {
    width: 55%;
  }
  .logo img {
    width: 160px;
    height: auto;
    margin: 0 15px 0 0;
  }
}
@media screen and (max-width: 1000px) {
  form[name=search] .v-input__slot {width: 200px;}
}
